body {
    font-family: 'Signika', sans-serif;
    box-shadow:2em #350188;
    
 }
 .bg-grey {
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 30px #032c55;
 }
 .logo-footer {
    margin-bottom: 21px;
    border-radius: 16px;
 }
 footer {
        color: rgb(19, 56, 223);
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
font-size:large;
}
footer h6:after {
position: absolute;
content: "";
/* background: grey; */
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: rgb(35, 82, 209);
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: rgb(59, 71, 240);
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;

}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: #014c8c;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid rgb(8, 20, 136);
height: 100%;
}
.w-50 logo-footer{
    border-radius: 53px;
}
.container-fluid bg-grey py-5{
    margin-bottom: 0;
}